<div class="container">
    <form class="example-form" [formGroup]="updateUser" >
    <div class="row">
        <div class="col-md-4">
            
                <mat-card class="example-card">
                
                    <mat-card-header style="margin: 5% 10%;" >
                        <div style="font-size: 17px ;color: #f9c910;">
                            Member Profile
                        </div>
                    </mat-card-header>
            
                    <br>
                    <div style="text-align: center;">
                        <img  style="border-radius: 50%;height : 90% ;width: 90%;border-style: dotted;border-color: #f9c910;" mat-card-image 
                        src="{{imgURL}}" height="200" *ngIf="imgURL" alt="Profile picture">
                    </div>
                
                    
                    <mat-card-content >
                        <input style="display: none;" id="singleFile" (change)="imageChange($event)"  type="file" accept="image/*" name="image" [fileUploadInputFor]= "fileUploadQueue"/>
                        <input style="background-color : #6a6a9aba"  type="button" value="Browse..." onclick="document.getElementById('singleFile').click();" />
                        <br>
                        
                        <mat-file-upload-queue #fileUploadQueue 
                        [fileAlias]="'file'"
                        [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">

                            <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
                        </mat-file-upload-queue>
                    </mat-card-content>
                </mat-card>

            <div class="example-card" *ngIf="user.type == 2">
                    <h3>Quote</h3>
                    <textarea formControlName="quote" class="inputQuote">{{bureau.quote}}</textarea>
            </div>

        </div>
        <div class="col-md-8">
            <div class="card" >
        
                <mat-form-field class="example-full-width" >
                    <mat-label>Email Address</mat-label>
                    <input formControlName="email" class="inputclass" matInput hint="example@mail.com" type="email"  value="{{user.email}}">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" class="inputclass" matInput  value="{{user.name}}">
                    <mat-icon  matSuffix>mode_edit</mat-icon>
                </mat-form-field>
                <mat-form-field  >
                    <mat-label>Birthdate : {{user.birthday | date}}</mat-label>
                    <input formControlName="birthday" style="width: 50%; margin-right: 200px;" value="{{user.birthday}}"  matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Telephone</mat-label>
                    <span matPrefix>+216 &nbsp;</span>
                    <input formControlName="phone" class="inputclass"  type="text" matInput value="{{user.phone}}" >
                   <mat-icon  matSuffix>mode_edit</mat-icon>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Enter your current password</mat-label>
                    <input formControlName="corrent_password" matInput [type]="hide ? 'password' : 'text'" >
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Enter your new password</mat-label>
                    <input formControlName="password" matInput [type]="hideNewPassword ? 'password' : 'text'" >
                    <button mat-icon-button matSuffix (click)="hideNewPassword = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                

    


                <div class="row">
                    
                    <div class="col-md-4" style="text-align:center;">
                        <button class="btn btn-success button3"  (click)="edit()" >
                            <span *ngIf="!loading">Update</span>
                            <span *ngIf="loading">loading</span><mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
                        </button>
                    </div>
                </div>

    
            </div>
        </div>
    </div>
</form>
</div>