<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form role="form"  [formGroup]="loginForm" (ngSubmit)="login()">
                  <div *ngIf="message" style="background-color: #ff6c1d;
                  color: white;
                  height: 50px;
                  text-align: center;
                  padding: 9px;
                  border: 1px solid #0000002e;
                  font-size: 14px;
                  margin-bottom : 20px;
                  box-shadow: 4px 4px 5px 1px #ff00006e;">
                    mail or password incorrect , please try it again
                  </div>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="email" formControlName="email" autocomplete="email" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button style="background-color: #0d2240; border-color: #f9c910" type="submit" class="btn btn-primary px-4">
                        <span *ngIf="!loading">Login</span>
                        <span *ngIf="loading">loading</span><mat-spinner diameter="20" *ngIf="loading"></mat-spinner></button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%; background: linear-gradient(30deg, #4507a2 20%, transparent 75%);">
              <div class="card-body text-center" style="padding: 0;">
                <div>
                  <div class="card-body text-center">
                    <div>
                      
                      <img src="../../../assets/img/logo_lions.png" style="width: 130px;">
                      <br><br><br><br>
                      <h2>Lion Club Dashbord</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
