<h2 mat-dialog-title style="margin:5px 5px;text-align: center;">Create a new project</h2><br>
<div mat-dialog-content style="height: 450px;width: 750px;margin-left: 50px;">
  <p>Title of the project</p>
  <input type="text"  placeholder="The title is ">

  <p>People concerned</p>
  <input type="text"  placeholder="destination">

  <p>Description</p>
  <textarea placeholder="description ..." style="min-height: 70px;"></textarea>

  <p>Due date</p>
  <input type="date"  placeholder="This project finish on ..">

  <p>The responsible</p>
  <input type="text"  placeholder="The responsible is ..">
  <br><br>

  <div style="float: right;margin-right: 35px;">
    <button style="width: 80px; outline: none;background: none;border-width: 2px;background-color:#4dbd74;" id="gg">Confirm</button>
    <button style="outline: none;background: none;background-color: #f86c6b;" id="gg2">Cancel</button>
  </div>

</div>


<style>

  *{
    margin: 5px 5px;
  }
  p{
    font-size: 17px;
  }
  input,textarea{
    width: 95%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: rgba(250, 250, 250, 0.89);
  }
  button{
    color: white;
    border: none;
    height: 30px;
    border-radius: 2px;
  }

</style>