<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div  style="height:146px" class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i style="font-size: 40px;" class="fas fa-users"></i>
          </button>
          <div style="font-size: 2.3125rem; margin-bottom: 17px;">{{dashbordData.top.user_count}}</div>
          <div>Members</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div  style="height:146px" class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i  style="font-size: 40px;"class="fas fa-user-clock"></i>
          </button>
          <div style="font-size: 2.3125rem; margin-bottom: 17px;">{{dashbordData.top.user_login}}</div>
          <div>Members online</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div  style="height:146px" class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i style="font-size: 40px;" class="fab fa-elementor"></i>
          </button>
          <div style="font-size: 2.3125rem; margin-bottom: 17px;">{{dashbordData.top.events}}</div>
          <div>Events</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div  style="height:146px" class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i style="font-size: 40px;" class="far fa-calendar-alt"></i>
          </button>
          <div style="font-size: 2.3125rem; margin-bottom: 17px;">{{dashbordData.top.uppcoming_events}}</div>
          <div>Upcomming events</div>
        </div>
      </div>
    </div>
  </div><!--/.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Events</h4>
          <div class="small text-muted">2021</div>
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Month</label>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div>
    </div>
  
  </div>


