
  <div class="container mx-auto">
    <div class="title">Create a Member</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Birthdate</span>
            <input id="date-input" type="date" name="date-input" placeholder="date" required>
            
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" placeholder="Confirm your password" required>
          </div>
        
        </div>
        <div clas="gender-details">
          <div class="profile-pic-div" style="position: inherit;" >
          <img src="assets/img/avatars/1.jpg" id="photo" style=" height: 100px;
          width: 100px;
          top: 50%;
         left: 50%;
    
         border-radius: 50%;
         overflow: hidden;
         border: 1px solid grey;">
          <input type="file" id="file" style="display: none;" >
          <label  for="file" id="uploadBtn" style="height: 40px;
          left: 50%;
          width: 400px;
          border-radius: 5px;
          border: none;
          color: #fff;
          text-align: center;
          background:  #fdbe33;
          
          line-height: 30px;
          font-family: sans-serif;
          font-size: 15px;
          cursor: pointer;
          padding-top: 6px;
          margin-left: 50px;
          ">Choose Photo</label>
        </div>

        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>


   