<div class="blog">
    <div class="img_bloc">
        <img class="image" src="http://localhost:8000{{data.image}}">
    </div>
    <div class="article">
        <h5 style="font-size: 17px;font-weight: bold;">{{data.title}}</h5>
          <p>
            <a  style="font-size: 14px;font-weight: bold; color: #fdbe33">{{data.author}}</a>
            <a  style="font-size: 14px;font-weight: bold; color: #fdbe33; margin-left: 40px;" ><i class="far fa-calendar-alt"></i>{{data.date}}</a>
          </p>
          <p style="margin:10px 30px">{{data.article}}</p>
    </div>
</div>
