.blog{
    height: 500px;
  .img_bloc{
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
    position: relative;
    overflow: hidden;
    height: 450px;
    .image{
        width: 100%;
        height: 450px;
    }
  }
  .article{
    box-shadow: 1px 1px 8px 0px black;
    z-index: 3;
    width: 96%;
    position: relative;
    bottom: 201px;
    background-color: white;
    left: 16px;
    height: 270px;
    padding: 20px 15px;
    h5 {
      transition: 300ms ease-in-out;
    }
  }
}
.blog:hover{
    .img_bloc .image{
        scale: 1.2;
        transform: scale(1.2) rotate(5deg);
        transition: 300ms ease-in-out;
    }
}